<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BCCStudents.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <BCCStudents.Presentation.Properties.Settings>
      <setting name="SmsApiKey" serializeAs="String">
        <value>bd1199c025234dfab9da6331d6c5be20</value>
      </setting>
      <setting name="SmsText_Registration" serializeAs="String">
        <value>მოგესალმებით, თქვენ რეგისტრირდით</value>
      </setting>
      <setting name="SmsText_Payment" serializeAs="String">
        <value>გადახდა შესრულებულია ✅</value>
      </setting>
      <setting name="SmsText_UpcomingReminder" serializeAs="String">
        <value>მოგახსენებთ, რომ გადახდის თარიღი ახლოვდება</value>
      </setting>
      <setting name="SmsText_OverdueReminder" serializeAs="String">
        <value>გადახდის ვადა გადავიდა ⚠️</value>
      </setting>
      <setting name="BackupDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupIntervalHours" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="BackupIntervalMinutes" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="MaxBackupFiles" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MySqlDumpPath" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LastBackupTime" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="LocalMySqlConnectionString" serializeAs="String">
        <value>Server=localhost;Port=3307;Database=bccstudents_local;User=root;Password=Admin.25;SslMode=Preferred;CharSet=utf8mb4;</value>
      </setting>
      <setting name="ServerMySqlConnectionString" serializeAs="String">
        <value>Server=bccenter.ge;Port=3306;Database=bccenter_SchoolManagement;User=bccenter_schoolAdmin25;Password=@wh0X0kpPHey</value>
      </setting>
      <setting name="LocalMySqlConnectionString_Test" serializeAs="String">
        <value>Server=localhost;Port=3307;Database=bccstudents_local_test;User=root;Password=Admin.25;SslMode=Preferred;CharSet=utf8mb4;</value>
      </setting>
      <setting name="ServerMySqlConnectionString_Test" serializeAs="String">
        <value>Server=bccenter.ge;Port=3306;Database=bccenter_SchoolManagement_Test;User=bccenter_schoolAdmin25;Password=@wh0X0kpPHey</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdminCode" serializeAs="String">
        <value>admin123</value>
      </setting>
      <setting name="UseFullBalanceForAutoPayment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoBackupEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbChangedSinceLastBackup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseLocalDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoDownstreamSyncEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpstreamSyncEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdateEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnVisibilitySettings" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnWidthsSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableCustomSubGroupMaxStudents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsedUsernames" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowPartialPayments" serializeAs="String">
        <value>False</value>
      </setting>
    </BCCStudents.Presentation.Properties.Settings>
  </userSettings>
  <!-- განახლების კონფიგურაცია.
       UpdateService კითხულობს მანიფესტის მისამართს ConfigurationManager.AppSettings["UpdateManifestUrl"]-ით.
       თუ ეს მნიშვნელობა ცარიელია ან <appSettings> სექცია არ არსებობს, GetManifestAsync მაშინვე null-ს აბრუნებს
       და განახლება არ შემოწმდება. ამიტომ აქ მითითებულია სერვერზე განთავსებული latest.json-ის სრული URL. -->
  <appSettings>
    <add key="UpdateManifestUrl" value="https://www.bccenter.ge/updates/latest.json" />
  </appSettings>
</configuration>